@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  background: #005c9d;
  height: 100%;
  font-family: "Calibri";
}

h1 {
  display: inline-block;
  color: white;
  font-family: "Calibri";
  font-weight: 300;
  font-size: 16px;
  margin: 0 20px;
  vertical-align: middle;
  text-align: left;
}

@media screen and (max-width: 576px) {
  h1 {
    text-align: center;
    margin: 20px 0;
  }
}

h1 a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: .2s color ease-in;
  transition: .2s color ease-in;
}

h1 a:hover {
  color: #acb8d3;
}

.search__results__container.active .search__results {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.search__results__container.active .search__results li {
  display: block;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.header__header {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 576px) {
  .header__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__header .logo__container img {
  max-width: 200px;
}

.header__main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__main h2 {
  color: white;
  font-family: "Calibri";
  font-weight: 500;
  font-size: 10vw;
  white-space: nowrap;
  margin: 20px 0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .header__main h2 {
    font-size: 11vw;
  }
}

.header__main .search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 71vw;
  margin: 0 auto;
}

@media screen and (max-width: 860px) {
  .header__main .search-container {
    width: 90%;
  }
}

.header__main .search {
  position: relative;
  width: 100%;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
          box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.header__main .search input {
  height: 56px;
  font-size: 22px;
  border-radius: 0;
  border: none;
  vertical-align: middle;
}

.header__main .search input::-webkit-input-placeholder {
  color: #005c9d;
  font-family: "Calibri";
  font-weight: 500;
  font-size: 22px;
}

.header__main .search input:-ms-input-placeholder {
  color: #005c9d;
  font-family: "Calibri";
  font-weight: 500;
  font-size: 22px;
}

.header__main .search input::-ms-input-placeholder {
  color: #005c9d;
  font-family: "Calibri";
  font-weight: 500;
  font-size: 22px;
}

.header__main .search input::placeholder {
  color: #005c9d;
  font-family: "Calibri";
  font-weight: 500;
  font-size: 22px;
}

@media screen and (max-width: 576px) {
  .header__main .search input::-webkit-input-placeholder {
    font-size: 19px;
  }
  .header__main .search input:-ms-input-placeholder {
    font-size: 19px;
  }
  .header__main .search input::-ms-input-placeholder {
    font-size: 19px;
  }
  .header__main .search input::placeholder {
    font-size: 19px;
  }
}

@media screen and (max-width: 320px) {
  .header__main .search input::-webkit-input-placeholder {
    font-size: 15px;
  }
  .header__main .search input:-ms-input-placeholder {
    font-size: 15px;
  }
  .header__main .search input::-ms-input-placeholder {
    font-size: 15px;
  }
  .header__main .search input::placeholder {
    font-size: 15px;
  }
}

.header__main .search input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header__main .search .fa-search {
  position: absolute;
  top: 23px;
  left: 15px;
}

.header__main .search button {
  position: absolute;
  top: 5px;
  right: 4px;
  border-radius: 10px;
  height: 46px;
  width: 255px;
  font-size: 25px;
  background: #005c9d;
  text-transform: uppercase;
  line-height: 0px;
}

@media screen and (max-width: 860px) {
  .header__main .search button {
    width: 35%;
  }
}

@media screen and (max-width: 576px) {
  .header__main .search button {
    width: 35%;
    font-size: 15px;
  }
}

@media screen and (max-width: 505px) {
  .header__main .search button {
    width: 25%;
    font-size: 15px;
  }
}

.header__main .search__results {
  background: white;
  max-height: 280px;
  overflow-y: auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  pointer-events: none;
  opacity: 0;
}

.header__main .search__results li {
  display: none;
  color: #000;
  list-style-type: none;
  padding: 8px 12px;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  -webkit-transition: .2s all ease-in;
  transition: .2s all ease-in;
}

.header__main .search__results li:hover {
  background-color: #efefef;
}

.header__main .checkboxes .checkbox {
  line-height: 20px;
}

.header__main .checkboxes .checkbox:first-child {
  margin: 10px 0 0 0;
}

.header__main .checkboxes .checkbox .checkbox-label > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.header__main .checkboxes .checkbox .checkbox-label > span {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: white;
  font-family: "Calibri";
  font-weight: 300;
  font-size: 15px;
}

.header__main .checkboxes .checkbox .checkbox-label > span::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  position: relative;
  top: 2.5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.header__main .checkboxes .checkbox .checkbox-label > input:not(:disabled):not(:checked) + span:hover::before {
  border-color: #629de0;
}

.header__main .checkboxes .checkbox .checkbox-label > input:not(:disabled):active + span::before {
  background-color: #629de0;
  border-color: #629de0;
}

.header__main .checkboxes .checkbox .checkbox-label > input:focus + span::before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.header__main .checkboxes .checkbox .checkbox-label > input:focus:not(:checked) + span::before {
  border-color: #80bdff;
}

.header__main .checkboxes .checkbox .checkbox-label > input:checked + span::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.header__main .checkboxes .checkbox .checkbox-label > input:disabled + span::before {
  background-color: #e9ecef;
}

.header__footer {
  margin: 20px 0 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.header__footer h3 {
  color: white;
  font-family: "Calibri";
  font-weight: 300;
  font-size: 17px;
}

.header__footer__down-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__footer__down-arrow .arrow {
  border: solid white;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 15px;
}

.header__footer__down-arrow .arrow-down {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main > div {
  height: 100vh;
}

@media screen and (min-width: 320px) {
  .main > div {
    height: inherit;
  }
}

.main h2 {
  color: white;
  text-align: center;
  padding: 0 0 0 0;
  font-size: 12vw;
  margin: 15px 0;
}

@media screen and (min-width: 576px) {
  .main h2 {
    font-size: 7vw;
  }
}

@media screen and (min-width: 1200px) {
  .main h2 {
    padding: 0 0 0 20%;
    text-align: left;
  }
}

.main__blocks-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 10px 0 0 0;
}

@media screen and (min-width: 1200px) {
  .main__blocks-container {
    padding: 10px 0 0 20%;
  }
}

.main__block {
  background: white;
  color: #005c9d;
  margin: 10px 0;
  min-height: 130px;
  padding: 10px 15px;
  font-size: 22px;
}

.main__block h3 {
  text-transform: uppercase;
}

.main__block ul {
  padding: 0 0 0 0;
}

.main__block ul li {
  list-style-type: none;
  margin: 0;
}

.main__block ul li p::before {
  content: "— ";
}

.main__block hr {
  margin: 0 0 15px 0;
}

.main__block__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  cursor: pointer;
}

.main__block__more h4 {
  font-size: 20px;
  color: black;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.main__block__more__down-arrow {
  margin: 0 0 0 40px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.main__block__more__down-arrow .arrow {
  border: solid black;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 15px;
}

.main__block__more__down-arrow .arrow-down {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main__footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 10px 0;
}

@media screen and (max-width: 768px) {
  .main__footer {
    margin: 30px 0;
  }
}

.main__footer h4 {
  color: white;
  font-family: "Calibri";
  font-weight: 300;
  font-size: 17px;
  margin: 0px 0 10px 0;
}

.about {
  height: 100vh;
}

.about h2 {
  color: white;
  text-align: center;
  font-size: 7vw;
  padding: 40px 0;
}

.about__text div div {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .about__text div div {
    width: 90%;
  }
  .about__text div div p {
    text-align: left;
  }
}

.about__text p {
  color: white;
  font-size: 18px;
  line-height: 20px;
  font-family: "Calibri";
  font-weight: 350;
  text-align: justify;
}

.about__text a {
  color: white;
  text-decoration: none;
}

.about__footer {
  padding: 70px 0;
  text-align: center;
  color: white;
}
/*# sourceMappingURL=main.css.map */